{"sentiment":"Negative","sentimentScore":1,"UserName":"Matt Timms","CreatedAt":1479832129000,"Text":"Sounds more like his finding English football harder than he though. https://t.co/f2hSoGhH7W","id":"801100131051278336","UserScreenName":"timmsy63"}
{"sentiment":"Negative","sentimentScore":1,"UserName":"Kasen Dudley","CreatedAt":1479832129000,"Text":"RT @SBNationCFB: Matthew McConaughey stuck up for Charlie Strong while strolling the streets of Austin with a beer in hand https://t.co/434…","id":"801100131647033344","UserScreenName":"kasendudley"}
{"sentiment":"Negative","sentimentScore":1,"UserName":"Quentiñio","CreatedAt":1479832130000,"Text":"RT @SashaRytchkov: Ok donc Gillot à Lille https://t.co/eBRLoa14xf","id":"801100134327128064","UserScreenName":"Kentinlelensois"}
{"sentiment":"Positive","sentimentScore":3,"UserName":"Melody","CreatedAt":1479832130000,"Text":"RT @FballPosts: Watch this once, twice, three times, and tell me Lil Wayne isn't speaking the truth about what football is turning… ","id":"801100134981386240","UserScreenName":"Melody05256171"}
